/* media breakpoints */
$phone: 568px;
$content: 800px;
$transparent-black: rgba(0, 0, 0, 0.5);
$cursive-font: 'Special Elite', cursive;
$sans-serif-font: 'Poiret One', cursive, sans-serif;

/* colors */
$lightgray: #ededed;

body {
  font-family: $sans-serif-font;
  text-align:center;
}

#container {
  width:800px;
  margin: 0px auto;
}

#header {
  border-bottom:1px solid $lightgray;
  padding:20px 0px;
  margin-bottom:20px;

  #title {
    font-size:75pt;
    text-align:center;
    font-family: $cursive-font;
  }
}

#content {
  .gallery-item {
    position:relative;
    display:inline-block;
    vertical-align:top;
    margin-bottom: 5px;
    height:195px; width:195px;
    overflow:hidden;
    
    &:focus {
      height:100%;
      width:50%;
      outline:0;
      transition: width 0.5s linear, height 0.5s linear;
    }
    
    img {
      width:100%;
    }
    
    .gallery-header {
      border:1px solid gray;
    }

    .caption {
      position:absolute;
      font-weight:bold;
      width:100%; height:100%;
      color:transparent;
      transition: background 0.3s linear;

      &:hover {
        background: $transparent-black;
        color:white;
      }
    }
  }
}

#footer {
  border-top:1px solid $lightgray;
  margin-top:20px;
  padding:20px 0px;
}

@media only screen and (max-width: $content) {
  body {
    background-color:green;
  }
  
  #container {
    width:100%;
  }
}

@media only screen and (max-width: $phone) {
  body {
    background-color:yellow;
  }
}