<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <title>Sarah Van Cleve</title>
  </head>
  <body>
    <!-- page header -->
    <div id="header">
      <div id="title">
        {{ site.name }}
      </div>
    </div>
    <div id="container">
      <!-- page content -->
      <div id="content">
        {{ content }}
      </div>
    </div>
    <!-- page footer -->
    <div id="footer">
      &copy; Sarah Van Cleve
    </div>
  </body>
</html>
